.face{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
}
.eye1{
    background-color: black;
    height: 40px;
    width: 38px;
    border-radius: 50%;
    position: absolute;
    top:45px;
    left:42px;
}
.eye2{
    background-color: black;
    height: 40px;
    width: 38px;
    border-radius: 50%;
    position: absolute;
    top:45px;
    left:105px;
}
.mouth{
    height: 45px;
    width: 90px;
    background-color: red;
    border-radius: 0 0 90px 90px;
    position: absolute;
    top:130px;
    left: 55px;
    z-index: 1;
    overflow: hidden;
}
.tongue{
    background-color: pink;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position:absolute;
    top:15px;
    left:23px;
    z-index: 2;
}